.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

.form-header__logo {
  width: 79px;
  height: 80px;
}

.form-header__mess {
  color: var(--black, #000);
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.form-header__title {
  color: var(--gray-700, #505e68);
  font-size: 19px;
  line-height: 32px;
}
