.App {
  min-height: 100vh;
  min-width: 80vw;
  background-color: #cad9f7;
}

header > a {
  color: #909fa9;
  text-decoration: none;
  padding: 0 1rem;
}

header > a:hover {
  text-decoration: underline;
}
