.App-header {
  background-color: white;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.App-main {
  background-color: white;
  height: 97vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-main__inner {
  margin: 0 auto;
  width: 376px;
}

.active {
  color: #7101ff;
  cursor: default;
}
