.button-reset {
  margin-top: 8px;
  width: 376px;
  height: 56px;
  padding: 16px 0px;
  text-align: center;
  color: var(--gray-900, #2c343a);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  cursor: pointer;
}

.button-reset:hover {
  background-color: #f8f3ff;
}
