.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}

input:not([type="checkbox"]) {
  width: 376px;
  height: 48px;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

input:not([type="submit"]) {
  border: 1px solid var(--gray-300, #cad2d6);
}

input:hover {
  border: 1px solid #7101ff;
}

input[type="submit"] {
  background: #7101ff;
  height: 56px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  cursor: pointer;
}

.input-lable {
  color: var(--gray-700, #505e68);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 4px;
}

.input-error {
  padding: 0;
  margin: 0;
  color: #bf1650;
  font-weight: 700;
  font-size: 13px;
}

.input-error::before {
  display: inline;
  content: "⚠ ";
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.checkbox__lable {
  color: var(--gray-700, #505e68);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
